<div class="span12">
	<div class="well" id="spotify">
		<h1>Give your party a name</h1>

		<%= form_for(@party) do |u|%>

		  <%= u.text_field :name %><br>
		  <%= u.submit :class => "btn btn-primary" %>

		<% end %>
	</div>
</div>

