<div class="span12">
	<div class="hero-unit" id="spotify">
		<h1>Welcome To DJuke</h1>
		<p>Collaborative Playlists Through Spotify</p>
	</div>
</div>
	<div class="spotify">
		<div class="span4">
			<h3>Word</h3>
		</div>
		<div class="span4">
			<h3>Word</h3>
		</div>
		<div class="span4">
			<h3>Word</h3>
		</div>
	</div>
</div>
